.pokemon-card-header{
    padding: 0 20px;
}

.pokemon-card-title{
    display: flex;
    flex-direction: row;
    padding: 20px 0 24px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

.pokemon-card-name{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pokemon-card-name h1{
    font-size: 24px;
}

.pokemon-card-number{
    font-size: 12px;
}

.pokemon-card-image{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
    margin-top: 100px;
}

.pokemon-card-avatar{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);;
}

.header-bg-pokeball{
    width: 206px;
    height: 208px;
    opacity: 0.1;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 100;
}

.pokemon-card-arrow-left, .pokemon-card-arrow-right, .pokemon-card-name img{
    cursor: pointer;
}

@media (min-width: 768px) {
    .header-bg-pokeball{
        /* display: none; */
        right: 15%;
        width: 400px;
        height: 400px;
    }

    .pokemon-card-image{
        margin-top: 85px;
    }

    .pokemon-card-arrow-left, .pokemon-card-arrow-right{
        width: 25px;
    }
}