.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Header_Top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.Header_Logo-img {
  width: 24px;
  height: 24px;
}

.Header_Logo-title {
  font-size: 24px;
  line-height: 32px;
  color: #212121;
}

.Header_Bottom {
  position: relative;
}

.Header_Input {
  background-color: white;
  width: 100%;
  height: 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.Header_Input::placeholder {
  text-align: center;
}

.Input_SearchIcon {
  width: 10px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.Input_Active {
  left: 2%;
}

.Header_Sort {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  font-size: 10px;
  margin-left: auto;
}

.Header_Sort_text {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.arrow-rotate {
  transform: rotate(180deg);
}
