@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  background-color: #f7f7f7;
  width: 100%;
  --steel: #b7b9d0;
  --grass: #74cb48;
  --bug: #a7b723;
  --fire: #f57d31;
  --electric: #f9cf30;
  --water: #6493eb;
  --ghost: #70559b;
  --psychic: #fb5584;
  --normal: #aaa67f;
  --rock: #b69e31;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --fighting: #c12239;
  --flying: #a891ec;
  --poison: #a43e9e;
  --ground: #dec16b;
  --dragon: #7037ff;
}

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  text-decoration: none;
}

.loading{
  background-color: #DC211E;
}

.loading-gif-container{
  width: 100%;
  background-color: #DC211E;
  position: absolute;
  left: 0;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif{
  width: 600px;
  height: 450px;
}

@media (max-width: 600px) {
  
  .loading-gif{
    width: 100%;
    height: auto;
  }
}
